--- examples: customs: variabless: - ones - twos - threes ---
<section class="projects">
  <h1>Projects</h1>
<!--

{
  "company": "test3",
  "logo": "",
  "subtitle": "logo.png",
  "summary": "Adobe Creative Suite",
  "website": "Description of the work",
  "description": "<div>testtest</div>",
  "content": ""
}
-->

<div class="listing">
  {{#each work.projects}}
  <div class="link">
    <a href="#{{id}}"><img src="img/logos/{{logo}}"></a>
  </div>
  {{/each}}
</div>

   <marquee>
      color me beautiful
   </marquee>
{{#each work.projects}}
<div id="{{id}}" class="project">
  <div class="summary">
    <h2>{{company}}</h2>
    <section class="description">
      <h3>{{summary}}</h3>
      {{#if website}}
      <h4>{{website}}</h4>{{/if}}
      <p>{{description}}</p>
    </section>
  </div>
  <div class="content">
    {{#each piece}}
    <div class="piece">
    <img src="img/portfolio/web/{{work}}">
    </div>
    {{/each}}
  </div>
</div>
{{/each}}


</section>